/* global setting */
body {
  background: hsl(315, 43%, 46%);
  position: relative;
}


button {
  cursor: pointer;
}

h2 {
  font-family: 'Londrina Outline', cursive;
  font-size: 120px;
  letter-spacing: 5px;
  padding: 0;
  margin: 0;
}

p {
  font-family: 'Montserrat', sans-serif;
  /* color: seashell; */
  color: #079133;
  font-size: 18px;
}

li {
  list-style: none;
}

/* .wrap{
display: flex;
flex-direction: column;
} */
.container {
  max-width: 1300px;
  margin: 0 auto;
}

/* button css setting */
.pink_btn {
  padding: 0 10px;
  font-family: 'Londrina Outline', cursive;
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 5px;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(227, 227, 235);
  border: rgba(228, 201, 227, 1) 3px solid;
}

.pinkShine_btn {
  padding: 0 10px;
  font-family: 'Londrina Outline', cursive;
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 5px;
  border-radius: 20px;
  background-color: transparent;
  color: rgb(227, 227, 235);
  border: rgba(228, 201, 227, 1) 3px solid;
  transition: all 1s;
}

.pinkShine_btn:hover {
  text-shadow:
    0 0 5px rgba(219, 8, 210, 1),
    0 0 10px rgba(219, 8, 210, 1),
    0 0 20px rgba(219, 8, 210, 1),
    0 0 40px rgba(219, 8, 210, 1);
  box-shadow:
    0 0 5px rgba(219, 8, 210, 1),
    0 0 10px rgba(219, 8, 210, 1),
    0 0 20px rgba(219, 8, 210, 1),
    0 0 40px rgba(219, 8, 210, 1);
}

.pinkBlack_btn {
  padding: 0 10px;
  font-family: 'Londrina Outline', cursive;
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 5px;
  border-radius: 20px;
  background-color: rgba(228, 201, 227, 1);
}

.pinkBlackShine_btn {
  padding: 0 10px;
  font-family: 'Londrina Outline', cursive;
  color: #042104;
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 5px;
  border-radius: 20px;
  background-color: rgba(228, 201, 227, 1);
  animation: none;
}

.pinkBlackShine_btn:hover {
  box-shadow:
    0 0 5px rgba(219, 8, 210, 1),
    0 0 10px rgba(219, 8, 210, 1),
    0 0 20px rgba(219, 8, 210, 1),
    0 0 40px rgba(219, 8, 210, 1);
  text-shadow: none;
}

/* neon effect */
.neon-effectTxt_pink {
  text-shadow:
    0 0 5px rgba(219, 8, 210, 1),
    0 0 10px rgba(219, 8, 210, 1),
    0 0 20px rgba(219, 8, 210, 1),
    0 0 40px rgba(219, 8, 210, 1);
  animation: neon-shine 10s cubic-bezier(1, 0, 1, -0.05) infinite;
  transition: 3s;
}

.neon-effectBox_pink {
  box-shadow:
    0 0 5px rgba(219, 8, 210, 1),
    0 0 10px rgba(219, 8, 210, 1),
    0 0 20px rgba(219, 8, 210, 1),
    0 0 40px rgba(219, 8, 210, 1);
  animation: neon-shineBox 10s cubic-bezier(1, 0, 1, -0.05) infinite;

}

/* neon animation  */
.neon-effectBoxShineOff_pink {
  box-shadow:
    0 0 5px rgba(219, 8, 210, 1),
    0 0 10px rgba(219, 8, 210, 1),
    0 0 20px rgba(219, 8, 210, 1),
    0 0 40px rgba(219, 8, 210, 1);
  font-size: 45px;
}

.neon-effectTxt_blue {
  color: rgb(237, 238, 243);
  text-shadow:
    0 0 5px rgba(12, 168, 230, 1),
    0 0 10px rgba(12, 168, 230, 1),
    0 0 20px rgba(12, 168, 230, 1),
    0 0 40px rgba(12, 168, 230, 1);
  animation: neon-shineTxt 10s cubic-bezier(1, 0, 1, -0.05) 1s infinite;
  transition: all 3s;
}

.neon-effectTxt_dayIcon {
  color: rgb(237, 238, 243);
  text-shadow:
    0 0 5px rgba(12, 168, 230, 1),
    0 0 10px rgba(12, 168, 230, 1),
    0 0 20px rgba(12, 168, 230, 1),
    0 0 40px rgba(12, 168, 230, 1);
  animation: neon-shineTxt 10s cubic-bezier(1, 0, 1, -0.05) 1s infinite;
  transition: all 3s;
}

@keyframes neon-shineTxt {
  0% {
    opacity: 1;
    color: rgb(227, 227, 235);
  }

  /* 90%{opacity:0;} */
  100% {
    color: #0a0a0a;
    text-shadow: 0 0 0 #0a0a0a;
  }
}

@keyframes neon-shineBox {
  0% {
    opacity: 1;
    color: rgb(227, 227, 235);
  }

  /* 90%{opacity:0;} */
  100% {
    color: #0a0a0a;
    box-shadow: 0 0 0 #0a0a0a;
    border: rgb(227, 227, 235) solid 3px;
  }
}

/* headerbar area */
header {
  height: 90px;
  padding: 0 20px;
  display: flex;
  background-color: #0a0a0a;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 10;
}

header .icon {
  display: flex;
  align-items: center;
}

header select {
  background-color: transparent;
  border: none;
  outline: none;
  font-family: 'Montserrat', sans-serif;
  color: seashell;
  font-size: 18px;
  padding: 3px;
}

header option {
  background-color: #0a0a0a;
}

header .logo_area {
  width: 150px;
  height: 100px
}

header img {
  width: 100%;
  height: 100%;
  vertical-align: bottom;
  transform: rotate(-6deg);

}

header i {
  margin: 0 5px;
  font-size: 40px;
  color: rgba(237, 238, 243, 1)
}

/*nav */
.side_menu {
  width: 100vw;
  height: 100%;
  display: flex;
  visibility: hidden;
  opacity: 0;
  position: fixed;
  z-index: 5;
  transition: 0.3s 0.5s;

}

.side_menu_show {
  display: flex;
  visibility: visible;
  opacity: 1;
  transition: 0.3s;
}

.side_menu .curtain1 {
  width: 33.333333%;
  position: absolute;
  top: -100%;
  left: 0;
  height: 100%;
  ;
  background-color: #0a0a0a;
  transition: 0.3s;
}

.side_menu_show .curtain1 {
  top: -1px;
  transition: 0.3s;
}

.side_menu nav {
  width: 33.333333%;
  height: 100%;
  display: flex;
  background-color: #0a0a0a;
  flex-direction: column;
  justify-content: space-around;
  position: absolute;
  top: -100%;
  left: calc(33.333333% - 1px);
  transition: 0.3s;
  transition-delay: 0.25s;
}

.side_menu_show nav {
  top: -1px;
  transition: 0.3s;
  transition-delay: 0.25s;

}

.side_menu .curtain2 {
  width: 33.333333%;
  position: absolute;
  top: -100%;
  left: calc(66.666666% - 2px);
  height: 100%;
  ;
  background-color: #0a0a0a;
  transition: 0.3s;
  transition-delay: 0.5s;

}

.side_menu_show .curtain2 {
  top: -1px;
  transition: 0.3s;
  transition-delay: 0.5s;
}

.side_menu nav a {
  font-family: 'Londrina Outline', cursive;
  font-size: 60px;
  font-weight: bolder;
  color: rgb(237, 238, 243);
  letter-spacing: 5px;
  padding: 0;
  margin: 0;
}

.side_menu_show {
  top: 90px;
  transition: 0.3s;
}

.side_menu a {
  text-decoration: none;
  text-align: center;
}

  /* introduce_section */
  .introduce_section .container{
    display: flex;
    flex-direction: column;
  }
  .introduce_section>.backImg{
    background-image: none;
    z-index: -3;
  }
  .introduce_section>.day_banner{
    background-image: url(./picLibrary/doodles.png);
    z-index: -3;
  }
  .introduce_section .container h2{
    text-align: center;
  } 
  .introduce_section .container .intro_zone{
    padding: 70px 0;
    display: flex;
    justify-content: space-between;  
  }
  .introduce_section .container .logo_area{
    width: 300px;
    position: relative;
  }
  .introduce_section .logo_area::before{ content:'';
      width: 450px;
      height: 270px;
      background-image: url(./picLibrary/melbourne-victoria-australia-june-15-260nw-1931763005.webp);
  
      background-size: cover;
      background-color: none;
      background-blend-mode: none;
      position: absolute;
      bottom :-150px;
      right: -250px;;
      z-index: 0;
    
  }
  .introduce_section .night_block::before{
      content:'';
      width: 450px;
      height: 270px;
      background-image: url(./picLibrary/3571036d-5576-4d5a-a0b7-1b7adc71a4fd.jpg);
      background-attachment: fixed;
      background-size: cover;
      background-color: rgba(0, 0, 0, .8);
      background-blend-mode: multiply;
      position: absolute;
      bottom :-150px;
      right: -250px;;
      z-index: 0;
    }
  .introduce_section .logo_area::after{
      content:'';
      width: 300px;
      height: 300px;
      background-image: url(./picLibrary/City_Skyline_Melbourne_City_Tram_7918a020-2dcf-40c3-b023-5d248b34ead9.jpg);
      background-color: none;
      background-blend-mode: none;
      position: absolute;
      top :-150px;
      right: -1100px;;
      z-index: 0;
    }
    
    .introduce_section .night_block::after{
      content:'';
      width: 300px;
      height: 300px;
      background-image: url(./picLibrary/f2118492208f0b0b6a91992b5970ef91.jpg);
      background-color: rgba(0, 0, 0, .3);
      background-blend-mode: multiply;
      position: absolute;
      top :-150px;
      right: -1100px;;
      z-index: 0;
    }

  
  .introduce_section .logo_area img{
    width: 100%;
    position: relative;
  }
  .introduce_section .intro_area{
    width: 60%;
    position: relative;
  }
  .introduce_section .intro_area p{
    font-size: 20px;
    line-height: 24px;
    color: #079133;
    background-color: rgba(0, 0, 0, .6);
    position: relative;
  }
   /* subscribe_area */
   .subscribe_area form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding:20px ;
  }
  .subscribe_area input{
    width: 400px;
    height: 38px;
    margin: 0 10px;
    background-color:#0a0a0a ;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: seashell;
    border: 1px solid snow;
    text-align: center;
    
  }
  .subscribe_area .join_btn{
    font-size: 40px;
    border-radius:0;
    
  }
 /* footer */
footer {
  display: flex;
  align-items: center;
  border-top: 1px solid seashell;
}

footer section {
  margin: auto;
}

footer .container {
  width: 90%;
  display: flex;
  justify-content: space-evenly;
}

footer .icon_zone {
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  align-items: center;

}

footer .icon_zone a {
  border: none;
}

footer .copyright_zone {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

footer .copyright_zone .address p {
  font-size: 20px;
}

footer .copyright_zone .hyText {
  color: seashell;
}

footer .copyright_zone .day_hyLink {
  color: #079133;
}

footer .copyright_zone .copyright p {
  font-size: 14px;
}

footer .contact_zone {
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
}

footer .contact_zone i{
  margin-top: 20px;
  align-self: center;
  font-size: 42px;
  color: seashell;
  position: absolute;
  right: -50px;
  animation: pointerMove 0.5s infinite;

}
footer .contact_zone button{
  font-size: 30px;
  align-items: center;
 
}
.day_modelBlue {
  text-shadow: none;
  animation: none;
  color: #079133;
  transition: all 3s;
}

.day_modelPink {
  text-shadow: none;
  animation: none;
  color: #079133;
  transition: all 3s;
}