/* global setting */
body{
    background:rgb(243, 239, 237);
    position: relative;
}


button{
    cursor: pointer;
}
h2{
    font-family: 'Londrina Outline', cursive;
    font-size: 120px;
    /* color: rgba(228,201,227,1); */
    
    /* color: black; */
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
}
p{
    font-family: 'Montserrat', sans-serif;
    color: seashell;
    font-size: 18px;
}
li{
    list-style: none;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 0;
}

/* button css setting */
.pink_btn{
    padding:0 10px;
    font-family: 'Londrina Outline', cursive;
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 5px;
    border-radius: 20px;
    background-color: transparent;
    color:rgb(227, 227, 235);
    border: rgba(228,201,227,1) 3px solid;   
}
.pinkShine_btn{
    padding:0 10px;
    font-family: 'Londrina Outline', cursive;
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 5px;
    border-radius: 20px;
    background-color: transparent;
    color:rgb(227, 227, 235);
    border: rgba(228,201,227,1) 3px solid;
    transition: all 1s;
}
.pinkShine_btn:hover{
  text-shadow:
      0 0 5px rgba(219,8,210, 1),
      0 0 10px rgba(219,8,210, 1),
      0 0 20px rgba(219,8,210, 1),
      0 0 40px rgba(219,8,210, 1);
      box-shadow:
      0 0 5px rgba(219,8,210, 1),
      0 0 10px rgba(219,8,210, 1),
      0 0 20px rgba(219,8,210, 1),
      0 0 40px rgba(219,8,210, 1);
}
.pinkBlack_btn{
    padding:0 10px;
    font-family: 'Londrina Outline', cursive;
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 5px;
    border-radius: 20px;
    background-color: rgba(228,201,227,1);
}
.pinkBlackShine_btn{
    padding:0 10px;
    font-family: 'Londrina Outline', cursive;
    color: #042104;
    font-size: 45px;
    font-weight: bolder;
    letter-spacing: 5px;
    border-radius: 20px;
    background-color: rgba(228,201,227,1);
    animation: none;
}
.pinkBlackShine_btn:hover{
  box-shadow:
  0 0 5px rgba(219,8,210, 1),
  0 0 10px rgba(219,8,210, 1),
  0 0 20px rgba(219,8,210, 1),
  0 0 40px rgba(219,8,210, 1);
  text-shadow: none;
  font-size: 45px;
}
/* neon effect */
.neon-effectTxt_pink{
    text-shadow:
      0 0 5px rgba(219,8,210, 1),
      0 0 10px rgba(219,8,210, 1),
      0 0 20px rgba(219,8,210, 1),
      0 0 40px rgba(219,8,210, 1);
    animation:neon-shine 10s cubic-bezier(1,0,1,-0.05)
      infinite;
  }
  .neon-effectBox_pink{
    box-shadow:
      0 0 5px rgba(219,8,210, 1),
      0 0 10px rgba(219,8,210, 1),
      0 0 20px rgba(219,8,210, 1),
      0 0 40px rgba(219,8,210, 1);
    animation:neon-shineBox 10s cubic-bezier(1,0,1,-0.05)
      infinite;
    
  }

  /* neon animation  */
  .neon-effectBoxShineOff_pink{
    box-shadow:
      0 0 5px rgba(219,8,210, 1),
      0 0 10px rgba(219,8,210, 1),
      0 0 20px rgba(219,8,210, 1),
      0 0 40px rgba(219,8,210, 1);
      font-size: 45px;
  }
  .neon-effectTxt_blue{
    color: rgb(237, 238, 243);
    text-shadow:
      0 0 5px rgba(12, 168, 230,1),
      0 0 10px rgba(12, 168, 230,1),
      0 0 20px rgba(12, 168, 230,1),
      0 0 40px rgba(12, 168, 230,1);
    animation:neon-shineTxt 10s cubic-bezier(1,0,1,-0.05) 1s
    infinite;
    transition: all 3s;
  }
  .neon-effectTxt_dayIcon{
    color: rgb(237, 238, 243);
    text-shadow:
      0 0 5px rgba(12, 168, 230,1),
      0 0 10px rgba(12, 168, 230,1),
      0 0 20px rgba(12, 168, 230,1),
      0 0 40px rgba(12, 168, 230,1);
    animation:neon-shineTxt 10s cubic-bezier(1,0,1,-0.05) 1s
    infinite;
    transition: all 3s;
  }
  @keyframes neon-shineTxt{
    0%{opacity:1;
    color: rgb(227, 227, 235);}
    /* 90%{opacity:0;} */
    100%{
    color:#0a0a0a;
    text-shadow: 0 0 0 #0a0a0a;}
  }
  @keyframes neon-shineBox{
    0%{opacity:1;
    color: rgb(227, 227, 235);}
    /* 90%{opacity:0;} */
    100%{
    color:#0a0a0a;
    box-shadow: 0 0 0 #0a0a0a;
    border: rgb(227, 227, 235) solid 3px ;
  }
  }
  /* loadPage area */
  .loadPage {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 100vw;
    min-height: 100vh;
    position: absolute;
    z-index: 11;
    background: #042104;
    animation: animateBg 10s linear infinite;
    transition:3s;
  }
  .loadPageOff{
    opacity: 0;
    visibility: hidden;
    
  }
  @keyframes animateBg {
    0% {
      filter: hue-rotate(0deg);
    }
    100% {
      filter: hue-rotate(360deg);
    }
  }
  .loadPage .container {
    position: relative;
    width: 120px;
    height: 120px;
  }
  .loadPage .container span {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: rotate(calc(18deg * var(--i)));
  }
  .loadPage .container span::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: #00ff0a;
    box-shadow: 0 0 10px #00ff0a, 0 0 20px #00ff0a, 0 0 40px #00ff0a,
      0 0 60px #00ff0a, 0 0 80px #00ff0a, 0 0 100px #00ff0a;
    animation: animate 2s linear infinite;
    animation-delay: calc(0.1s * var(--i));
  }
  @keyframes animate {
    0% {
      transform: scale(1);
    }
    80%,
    100% {
      transform: scale(0);
    }
  }

  /* headerbar area */
  header{
    height: 90px;
    padding: 0 20px;
    display: flex;
    background-color: #0a0a0a;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
  }
  header .icon{
    display: flex;
    align-items: center;
  }
  header select {
    background-color: transparent;
    border: none;
    outline: none; 
    font-family: 'Montserrat', sans-serif;
    color: seashell;
    font-size: 18px;
    padding: 3px;
  }
  header option{
    background-color: #0a0a0a;
  }
  header img{
    width: 150px;
    height: 100px;
    vertical-align: bottom;
    transform: rotate(-6deg);
    
  }
  header i{
    margin:0 5px;
    font-size: 40px;
    color:rgba(237, 238, 243,1)
  }

  /*nav */
  .side_menu{
    width: 100%;
    height: calc(100vh - 90px);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    /* opacity: 0; */
    /* top: -100%; */
    position: fixed;
    z-index: 5; 
    transition: 0.3s;
    /* background-color: #0a0a0a; */
    /* transition: visibility 0s linear 500ms, opacity 300ms; */
  }
  .side_menu_show{
    top: 90px;
    visibility: visible;
  }
  .side_menu .curtain1{
    width: 33.333333%;
    position: absolute;
    top: calc(-100% - 90px);
    left:0;
    height: 100%;
    background-color: #0a0a0a;
    transition: 0.3s;
  }
 .side_menu_show .curtain1{
    top: 0;
    transition: 0.3s;
  }
  .side_menu  nav{
    width: 33.333333%;
    height: 100%;
    display: flex;
    background-color: #0a0a0a;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: calc(-100% - 90px);
    left:33.333333%;
    transition: 0.3s;
    transition-delay: 0.25s;
  }
  .side_menu_show nav{
    top: 0;
    transition: 0.3s;
    transition-delay: 0.25s;
    
  }
  .side_menu .curtain2{
    width: 33.333333%;
    position: absolute;
    top: calc(-100% - 90px);
    left:66.666666%;
    height: 100%;
    background-color: #0a0a0a;
    transition: 0.3s;
    transition-delay: 0.5s;

  }
  .side_menu_show .curtain2{
    top: 0;
    transition: 0.3s;
    transition-delay: 0.5s;
  }
  .side_menu nav a{
    font-family: 'Londrina Outline', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: rgb(237, 238, 243);
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
  }
  .side_menu_show{
    top: 90px;
    transition: 0.3s;
  }
  .side_menu a{
    text-decoration: none;
    text-align: center;
  }
  .side_menu .user_zone{
    margin: 20px;
    align-self: flex-end
  }
  .side_menu .user_zone a{
    margin: 20px;
    font-size: 40px;
    border-radius: 0%;
  }
  .side_menu .user_zone .close_btn{
    border: none;
    font-size: 45px;
  }

  /* banner_section */
  /* .banner_section{
    /* background-image:url(./picLibrary/ChinChin-4e.jpg);
    background-size: cover;
    object-fit:contain ;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
    transition: all 3s; */
  /* }  */
  

  .banner_section .container{
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

  }
  .banner_section>.backImg{
    background-image:url(./picLibrary/ChinChin-4e.jpg);
    background-size: cover;
    object-fit:contain ;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .4);
    background-blend-mode: multiply;
    transition: all 3s;
  }
  .banner_section>.day_banner{
    background-image:url(./picLibrary/pngtree-fresh-literary-summer-coffee-picture-image_914305.jpg);
    background-blend-mode: normal;
    object-fit:contain ;
  }
  .banner_section .logo_pic{
    width: 1200px;
  }
  .banner_section img{
    width: 100%;
    height: 500px;
  }
  .banner_section .btn_zone{
    width: 1200px;
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    position: relative;
    top: -80px;
    left: -20px;
  }

  /* menu_section */
  /* .menu_section{ */
    /* background-image: url(./picLibrary/landing.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply; */
  /* } */
  .menu_section .container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .menu_section>.backImg{
    background-image: url(./picLibrary/landing.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
    transition: all 2s;
  }
  .menu_section>.day_banner{
    background-image: url(./picLibrary/doodles.png);
    background-size: auto;
    background-attachment: fixed;
    background-blend-mode: normal;
    transition: all 2s;
  }
  .menu_section .container .menu_title{
    align-self: flex-start;
    position: relative;
    top: 150px;
    left: 80px;
    background-color: rgba(0, 0, 0, .6) ;
    z-index: 2;
  }
  .menu_section .container .day_title{
    background-color: transparent;
  }
  .menu_section .slider_zone .container{
    max-width: 900px;
    padding-top: 0;
    position: relative;
  }
  .menu_section .slider_zone .container .owl-carousel img{
    max-height: 600px;
  }
  .menu_section .slider_zone .btn_arrow{
    border: none;
    color: rgb(227, 227, 235) ;
    font-size: 70px;
  }
  .menu_section .slider_zone .owl-nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 50%;
  }
  .menu_section p{
    background-color: rgba(0, 0, 0, .6);
    font-size:20px;
    position: absolute;
    left: 0;
    bottom: -20px;
  }
  .menu_section .more_btn{
    align-self: flex-end;
    margin-bottom: 30px;
  }

  /* event_section */
  .event_section{
    background-image: url(./picLibrary/dj-background-image.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .5);
    background-blend-mode: multiply;
  }
  .event_section .container{
    padding-top: 100px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
  }
  .event_section .container article{
    width: 33.3333333%;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
  }
  .event_section .container article p{
    flex-grow: 1;
    font-size: 30px;
    font-weight:bolder ;
  }
  .event_section .container article button{
    width: 75%;
    align-self: center;
  }
  .event_section .container .video_zone{
    width: 66.66666%;
    margin:0 30px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .event_section .container .video_zone img{
    width: 100%;
    padding: 5px;
  }

  /* aboutUs_section */
 
  .aboutUs_section .container{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .aboutUs_section .slider_zone{
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
  }
  .aboutUs_section .slider_zone img{
    width: 400px;
    height: 300px;
    margin: 0 10px; 
  }
  .aboutUs_section .btn_zone{
    width: 1200px;
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  .aboutUs_section .btn_zone .btn_arrow{
    border: none;
    color: rgb(227, 227, 235) ;
    font-size: 50px;
  }
  /* subscribe_area */
  .subscribe_area form{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 30px;
  }
  .subscribe_area input{
    width: 400px;
    height: 38px;
    margin: 0 10px;
    background-color:#0a0a0a ;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: seashell;
    border: 1px solid snow;
    text-align: center;
    
  }
  .subscribe_area .join_btn{
    font-size: 40px;
    border-radius: 10%
    
  }
  /* footer */
  footer{
    display: flex;
    align-items: center;
    border-top: 1px solid seashell;
  }
  footer section{
    margin: auto;
  }
  footer .container{
    display: flex;
  }
  footer .icon_zone{
    width: 25%;
    height: 250px;
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
    
  }
  footer .icon_zone a{
    border: none;
  }
  footer .copyright_zone{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
  }
  footer .copyright_zone .address p{
    font-size: 24px;
  }
  footer .copyright_zone a{
    color: seashell;
  }
  footer .copyright_zone .copyright p{
    font-size: 14px;
  }
  footer .contact_zone{
    width: 25%;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  footer .contact_zone i{
    margin-top: 20px;
    align-self: center;
    border: none;
    /* position: relative;
    top: 0;
    transition: top :-10px 1s linear ; */
  }

  .day_modelBlue{
    text-shadow: none;
    animation: none;
    color:#042104 ;
    transition:all 3s;
  }