body{
  background:#0a0a0a;
  position: relative;
}
button{
  cursor: pointer;
}
h2{
  font-family: 'Londrina Outline', cursive;
  font-size: 120px;
  /* color: rgba(228,201,227,1); */
  color: rgb(237, 238, 243);
  letter-spacing: 5px;
  padding: 0;
  margin: 0;
}
p{
  font-family: 'Montserrat', sans-serif;
  color: seashell;
  font-size: 18px;
}
.container{
width: 1200px;
margin: 0 auto;
}

/* button css setting */
.pink_btn{
  padding:0 10px;
  font-family: 'Londrina Outline', cursive;
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 5px;
  border-radius: 20px;
  background-color: transparent;
  color:rgb(227, 227, 235);
  border: rgba(228,201,227,1) 3px solid;   
}
.pinkBlack_btn{
  padding:0 10px;
  font-family: 'Londrina Outline', cursive;
  font-size: 45px;
  font-weight: bolder;
  letter-spacing: 5px;
  border-radius: 20px;
  background-color: rgba(228,201,227,1);
}

/* neon effect */
.neon-effectTxt_pink{
  text-shadow:
    0 0 5px rgba(219,8,210, 1),
    0 0 10px rgba(219,8,210, 1),
    0 0 20px rgba(219,8,210, 1),
    0 0 40px rgba(219,8,210, 1);
  animation:neon-shine 10s cubic-bezier(1,0,1,-0.05)
    infinite;
  
}
.neon-effectBox_pink{
  box-shadow:
    0 0 5px rgba(219,8,210, 1),
    0 0 10px rgba(219,8,210, 1),
    0 0 20px rgba(219,8,210, 1),
    0 0 40px rgba(219,8,210, 1);
  animation:neon-shineBox 10s cubic-bezier(1,0,1,-0.05)
    infinite;
  
}

/* neon animation  */
.neon-effectBoxShineOff_pink{
  box-shadow:
    0 0 5px rgba(219,8,210, 1),
    0 0 10px rgba(219,8,210, 1),
    0 0 20px rgba(219,8,210, 1),
    0 0 40px rgba(219,8,210, 1);
    font-size: 45px;
}
.neon-effectTxt_blue{
  text-shadow:
    0 0 5px rgba(12, 168, 230,1),
    0 0 10px rgba(12, 168, 230,1),
    0 0 20px rgba(12, 168, 230,1),
    0 0 40px rgba(12, 168, 230,1);
  animation:neon-shineTxt 10s cubic-bezier(1,0,1,-0.05)
  infinite;
}
@keyframes neon-shineTxt{
  0%{opacity:1;
  color: rgb(227, 227, 235);}
  /* 90%{opacity:0;} */
  100%{
  color:#0a0a0a;
  text-shadow: 0 0 0 #0a0a0a;}
}
@keyframes neon-shineBox{
  0%{opacity:1;
  color: rgb(227, 227, 235);}
  /* 90%{opacity:0;} */
  100%{
  color:#0a0a0a;
  box-shadow: 0 0 0 #0a0a0a;
  border: rgb(227, 227, 235) solid 3px ;
}
}
/* navbar area */
nav{
  height: 90px;
  padding: 0 20px;
  display: flex;
  background-color: #0a0a0a;
  align-items: center;
  justify-content: space-between;
  position: sticky;
  top: 0;
  z-index: 2;
}
nav .icon{
  display: flex;
  align-items: center;
}
nav select {
  background-color: transparent;
  border: none;
  outline: none; 
  font-family: 'Montserrat', sans-serif;
  color: seashell;
  font-size: 18px;
  padding: 3px;
}
nav option{
  background-color: #0a0a0a;
}
nav img{
  width: 150px;
  height: 110px;
  vertical-align: bottom;
  transform: rotate(-6deg);
  
}
nav i{
  margin:0 5px;
  font-size: 40px;
  color:rgba(237, 238, 243,1)
}

  /* side_menu */
  .side_menu{
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    position: fixed;
    top: 90px;
    z-index: 5; 
    background-color: #0a0a0a;
    transition: visibility 0s linear 500ms, opacity 300ms;
  }
  .side_menu_show{
    visibility: visible;
    opacity: 1;
    transition: visibility 0s linear 0s, opacity 300ms;
  }
  .side_menu a{
    text-decoration: none;
    text-align: center;
  }
  .side_menu .user_zone{
    margin: 20px;
    align-self: flex-end
  }
  .side_menu .user_zone a{
    margin: 20px;
    font-size: 40px;
    border-radius: 0%;
  }
  .side_menu .user_zone .close_btn{
    border: none;
    font-size: 45px;
  }
  .side_menu .list{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    flex-grow: 1;
  }
  .side_menu .list a{
    font-family: 'Londrina Outline', cursive;
    font-size: 60px;
    font-weight: bolder;
    color: rgb(237, 238, 243);
    letter-spacing: 5px;
    padding: 0;
    margin: 0;
  }
  /* banner_section */
  .banner_section .container{
    width: 100%;
    height: 420px;
    background-image: url(./picLibrary/ccm-store-web-banner_1920x600_v1.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-color: rgba(0, 0, 0, .6);
    background-blend-mode: multiply;
    display: flex;
    flex-direction: column;
    align-items: center;     
  }
  .banner_section .searchArea{
    display: flex;
    align-items: center;
    margin: 30px;
  }
  .banner_section .searchArea i{
      height: 40px;
      background-color:#0a0a0a ;
      border: none;
      border-radius: 0%;
      font-size: 36px;
      text-align:center;
      line-height: 40px;
  }
  .banner_section .searchArea input{
    width: 400px;
    height: 40px;
    background-color:#0a0a0a ;
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    text-align: center;
    border: none;
    outline: none;
    color: seashell;
  }
  .banner_section .searchArea .search_btn{
    font-size: 30px;
    border-radius: 0;
  }
  .banner_section .txt_area{
      margin: 20px;
      padding: 10px;
      display: flex;
      flex-direction: column;
      text-align: center;
      background-color: rgba(0, 0, 0, .6);
  }
  .banner_section .txt_area p{
      margin: 5px;
  }
  .banner_section .txt_area a{
    color: seashell;
  }
  .banner_section .txt_area span{
      font-size: 35px;
  }
  /* catalog_section */
  .catalog_section{
      border-bottom: 1px solid seashell;
  }
  .catalog_section .container ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
  }
  .catalog_section .container ul li{
    margin: 0 10px;
  }
  .catalog_section .container ul li :hover{
    text-shadow:
    0 0 5px rgba(12, 168, 230,1),
    0 0 10px rgba(12, 168, 230,1),
    0 0 20px rgba(12, 168, 230,1),
    0 0 40px rgba(12, 168, 230,1);
    animation:neon-shineTxt 3s cubic-bezier(1,0,1,-0.05)
    infinite;
}
  .catalog_section .container h5{
    font-family: 'Londrina Outline', cursive;
    font-size: 24px;
    color: rgb(237, 238, 243);
    letter-spacing: 1px;
  }
  .catalog_section .container a{
      text-decoration-color: seashell;
  }

  /* menu_section */

  .menu_section .container{
    display: flex;
    justify-content: center;
  }
  .menu_section .container .menu_area{
    width: 58.3333333%;
    margin-right: 8.333333%;
  }
  .menu_section .container h3{
    font-family: 'Londrina Outline', cursive;
    font-size: 30px;
    color: rgb(237, 238, 243);
    letter-spacing: 1px;
  }
  .menu_section .container .menu_area h5{
    font-family: 'Montserrat', sans-serif;
    color: seashell;
    font-size: 18px;
  }
  .menu_section .container .menu_area .item{
    padding:15px 0;
    border-top: 1px solid seashell;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .menu_section .container .menu_area .catalog_zone ul{
    list-style: none;
    padding-left: 0;
  }
  .menu_section .container .menu_area button{
    width: 120px;
    height: 35px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    color: seashell;
    background-color: transparent;
    border: seashell solid 1px;
    border-radius: 20px;
  }
  .menu_section .container .menu_area button:hover{
    text-shadow:
      0 0 5px rgba(219,8,210, 1),
      0 0 10px rgba(219,8,210, 1),
      0 0 20px rgba(219,8,210, 1),
      0 0 40px rgba(219,8,210, 1);
    animation:neon-shine 10s cubic-bezier(1,0,1,-0.05)
          infinite;
    box-shadow:
          0 0 5px rgba(219,8,210, 1),
          0 0 10px rgba(219,8,210, 1),
          0 0 20px rgba(219,8,210, 1),
          0 0 40px rgba(219,8,210, 1);
    animation:neon-shineBox 10s cubic-bezier(1,0,1,-0.05)
          infinite;
  }
  .menu_section .container .cart_zone{
    width: 33.333333%;
    margin-top: 40px;
  }
  
  .menu_section .container .cart_zone .cart{
    width: 100%;
    min-height: 400px;
    margin-bottom: 40px;
    padding: 15px;
    border: 1px solid seashell;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 91px;
  }
  .menu_section .container .cart_zone .cart h3{
    margin: 0;
    font-size: 40px;
  }
  .menu_section .container .cart_zone .cart .order_list{
    border-top: seashell 2px solid;
  }
  .menu_section .container .cart_zone .cart .order_list ul{
    list-style: none;
    padding-left: 0;
  }
  .menu_section .container .cart_zone .cart .order_list li{
    border-bottom: 1px solid seashell;;
  }
  .menu_section .container .cart_zone .cart .order_list li .item{
    display: flex;
    justify-content: space-between;
  }
  .menu_section .container .cart_zone .cart .order_list li .item .item_name{
    width: 60%;
  }
  .menu_section .container .cart_zone .cart .order_list li:last-child{
    border-top: 2px solid seashell;
    border-bottom: none;
  }
  .menu_section .container .cart_zone .cart .btn_area{
    width: 100%;
    display: flex;
    flex-direction: column;
  }
  .menu_section .container .cart_zone .cart .btn_area button{
    font-size: 28px;
    margin-top: 10px;
  }
  .menu_section .container .cart_zone .cart .btn_area .pink_btn:hover{
    text-shadow:
    0 0 5px rgba(219,8,210, 1),
    0 0 10px rgba(219,8,210, 1),
    0 0 20px rgba(219,8,210, 1),
    0 0 40px rgba(219,8,210, 1);
    box-shadow:
          0 0 5px rgba(219,8,210, 1),
          0 0 10px rgba(219,8,210, 1),
          0 0 20px rgba(219,8,210, 1),
          0 0 40px rgba(219,8,210, 1);
  }
  .menu_section .container .cart_zone .cart .btn_area .pinkBlack_btn:hover{
    box-shadow:
      0 0 5px rgba(219,8,210, 1),
      0 0 10px rgba(219,8,210, 1),
      0 0 20px rgba(219,8,210, 1),
      0 0 40px rgba(219,8,210, 1);
  }
  .menu_section .container .cart_zone .cart .announce_area a{
    color: seashell;
  }
/* footer */
footer{
    display: flex;
    align-items: center;
    border-top: seashell 1px solid;
    }
footer .icon_zone{
    width: 25%;
    height: 250px;
    margin-top:50px;
    display: flex;
    flex-wrap: wrap;
        
    }
footer .icon_zone a{
    border: none;
    }
footer .copyright_zone{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    }
footer .copyright_zone .address p{
    font-size: 24px;
    }
footer .copyright_zone a{
    color: seashell;
    }
footer .copyright_zone .copyright p{
    font-size: 14px;
    }
footer .contact_zone{
    width: 25%;
    margin-top:50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    }
footer .contact_zone i{
    margin-top: 20px;
    align-self: center;
    border: none;
        /* position: relative;
        top: 0;
        transition: top :-10px 1s linear ; */
    }